{% extends "base.html.twig" %}
{% block title %}Video on server{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>
<div class="example-wraper"> 
    <h1>All video on server</h1>
    <ul>
        {% for video in videoList %}
            <li> {{ video.title }} - {{ video.category }} </li> 
        {% endfor %}
    </ul>
</div>   



{% endblock %}