<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="{{asset('assets/js/app.js')}}"></script>
            <script>
               //$(document).ready(function(){
               //    alert('bada bum');
               //})
            </script>
        {% endblock %}
    </body>
</html>
